{
  "allowAdminCommands" : true,
  "allowAdminCommandsFromAnyone" : false,
  "allowAnonymousConnections" : true,
  "allowAssetsMismatch" : false,
  "anonymousConnectionsAreAdmin" : false,
  "audioChannelSeparation" : [-25, 25],
  "bannedIPs" : [],
  "bannedUuids" : [],
  "bindings" : {
    "CameraShift" : [{
        "mods" : [],
        "type" : "key",
        "value" : "RCtrl"
      }, {
        "mods" : [],
        "type" : "key",
        "value" : "LCtrl"
      }],
    "ChatBegin" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Return"
      }],
    "ChatBeginCommand" : [{
        "mods" : [],
        "type" : "key",
        "value" : "/"
      }],
    "ChatNextLine" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Down"
      }],
    "ChatPageDown" : [{
        "mods" : [],
        "type" : "key",
        "value" : "PageDown"
      }],
    "ChatPageUp" : [{
        "mods" : [],
        "type" : "key",
        "value" : "PageUp"
      }],
    "ChatPreviousLine" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Up"
      }],
    "ChatSendLine" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Return"
      }],
    "ChatStop" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Esc"
      }],
    "CinematicNext" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Right"
      }, {
        "mods" : [],
        "type" : "key",
        "value" : "Return"
      }],
    "CinematicSkip" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Esc"
      }],
    "CockpitDown" : [{
        "mods" : [],
        "type" : "key",
        "value" : "S"
      }, {
        "mods" : [],
        "type" : "key",
        "value" : "Down"
      }],
    "CockpitLeft" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Left"
      }, {
        "mods" : [],
        "type" : "key",
        "value" : "A"
      }],
    "CockpitRight" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Right"
      }, {
        "mods" : [],
        "type" : "key",
        "value" : "D"
      }],
    "CockpitUp" : [{
        "mods" : [],
        "type" : "key",
        "value" : "W"
      }, {
        "mods" : [],
        "type" : "key",
        "value" : "Up"
      }],
    "EmoteAnnoyed" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Right"
      }],
    "EmoteBlabbering" : [{
        "mods" : ["LCtrl", "LShift"],
        "type" : "key",
        "value" : "Right"
      }],
    "EmoteBlink" : [{
        "mods" : ["LCtrl"],
        "type" : "key",
        "value" : "Up"
      }],
    "EmoteEat" : [{
        "mods" : ["LCtrl", "LShift"],
        "type" : "key",
        "value" : "Down"
      }],
    "EmoteHappy" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Up"
      }],
    "EmoteLaugh" : [{
        "mods" : ["LCtrl"],
        "type" : "key",
        "value" : "Left"
      }],
    "EmoteNeutral" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Left"
      }],
    "EmoteOh" : [{
        "mods" : ["LCtrl"],
        "type" : "key",
        "value" : "Right"
      }],
    "EmoteOooh" : [{
        "mods" : ["LCtrl"],
        "type" : "key",
        "value" : "Down"
      }],
    "EmoteSad" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Down"
      }],
    "EmoteShouting" : [{
        "mods" : ["LCtrl", "LAlt"],
        "type" : "key",
        "value" : "Up"
      }],
    "EmoteSleep" : [{
        "mods" : ["LCtrl", "LShift"],
        "type" : "key",
        "value" : "Left"
      }],
    "EmoteWink" : [{
        "mods" : ["LCtrl", "LShift"],
        "type" : "key",
        "value" : "Up"
      }],
    "EssentialBar1" : [{
        "mods" : [],
        "type" : "key",
        "value" : "R"
      }],
    "EssentialBar2" : [{
        "mods" : [],
        "type" : "key",
        "value" : "T"
      }],
    "EssentialBar3" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Y"
      }],
    "EssentialBar4" : [{
        "mods" : [],
        "type" : "key",
        "value" : "N"
      }],
    "GuiClose" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Esc"
      }],
    "GuiShifting" : [{
        "mods" : [],
        "type" : "key",
        "value" : "RShift"
      }, {
        "mods" : [],
        "type" : "key",
        "value" : "LShift"
      }],
    "InterfaceBar1" : [{
        "mods" : [],
        "type" : "key",
        "value" : "1"
      }],
    "InterfaceBar10" : [],
    "InterfaceBar2" : [{
        "mods" : [],
        "type" : "key",
        "value" : "2"
      }],
    "InterfaceBar3" : [{
        "mods" : [],
        "type" : "key",
        "value" : "3"
      }],
    "InterfaceBar4" : [{
        "mods" : [],
        "type" : "key",
        "value" : "4"
      }],
    "InterfaceBar5" : [{
        "mods" : [],
        "type" : "key",
        "value" : "5"
      }],
    "InterfaceBar6" : [{
        "mods" : [],
        "type" : "key",
        "value" : "6"
      }],
    "InterfaceBar7" : [],
    "InterfaceBar8" : [],
    "InterfaceBar9" : [],
    "InterfaceChangeBarGroup" : [{
        "mods" : [],
        "type" : "key",
        "value" : "X"
      }],
    "InterfaceCodex" : [{
        "mods" : [],
        "type" : "key",
        "value" : "L"
      }],
    "InterfaceCrafting" : [{
        "mods" : [],
        "type" : "key",
        "value" : "C"
      }],
    "InterfaceDeselectHands" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Z"
      }],
    "InterfaceEscapeMenu" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Esc"
      }],
    "InterfaceHideHud" : [{
        "mods" : ["LAlt"],
        "type" : "key",
        "value" : "Z"
      }],
    "InterfaceInventory" : [{
        "mods" : [],
        "type" : "key",
        "value" : "I"
      }],
    "InterfaceQuest" : [{
        "mods" : [],
        "type" : "key",
        "value" : "J"
      }],
    "InterfaceReload" : [{
        "mods" : [],
        "type" : "key",
        "value" : "F8"
      }],
    "InterfaceRepeatCommand" : [{
        "mods" : [],
        "type" : "key",
        "value" : "P"
      }],
    "InterfaceToggleFullscreen" : [{
        "mods" : [],
        "type" : "key",
        "value" : "F11"
      }],
    "KeybindingCancel" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Esc"
      }],
    "KeybindingClear" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Del"
      }, {
        "mods" : [],
        "type" : "key",
        "value" : "Backspace"
      }],
    "PlayerDown" : [{
        "mods" : [],
        "type" : "key",
        "value" : "S"
      }],
    "PlayerDropItem" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Q"
      }],
    "PlayerInteract" : [{
        "mods" : [],
        "type" : "key",
        "value" : "E"
      }],
    "PlayerJump" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Space"
      }],
    "PlayerLeft" : [{
        "mods" : [],
        "type" : "key",
        "value" : "A"
      }],
    "PlayerRight" : [{
        "mods" : [],
        "type" : "key",
        "value" : "D"
      }],
    "PlayerShifting" : [{
        "mods" : [],
        "type" : "key",
        "value" : "RShift"
      }, {
        "mods" : [],
        "type" : "key",
        "value" : "LShift"
      }],
    "PlayerTechAction1" : [{
        "mods" : [],
        "type" : "key",
        "value" : "F"
      }],
    "PlayerTechAction2" : [],
    "PlayerTechAction3" : [],
    "PlayerUp" : [{
        "mods" : [],
        "type" : "key",
        "value" : "W"
      }],
    "ShowLabels" : [{
        "mods" : [],
        "type" : "key",
        "value" : "RAlt"
      }, {
        "mods" : [],
        "type" : "key",
        "value" : "LAlt"
      }],
    "TitleBack" : [{
        "mods" : [],
        "type" : "key",
        "value" : "Esc"
      }]
  },
  "borderless" : false,
  "checkAssetsDigest" : false,
  "clearPlayerFiles" : false,
  "clearUniverseFiles" : false,
  "clientIPJoinable" : false,
  "clientP2PJoinable" : true,
  "configurationVersion" : {
    "basic" : 1,
    "client" : 6
  },
  "crafting" : {
    "filterHaveMaterials" : false
  },
  "fullscreen" : false,
  "fullscreenResolution" : [1920, 1080],
  "gameServerBind" : "*",
  "gameServerPort" : 21025,
  "interactiveHighlight" : true,
  "inventory" : {
    "pickupToActionBar" : true
  },
  "maxPlayers" : 8,
  "maxTeamSize" : 4,
  "maximized" : true,
  "musicVol" : 70,
  "playerBackupFileCount" : 3,
  "queryServerBind" : "*",
  "rconServerBind" : "*",
  "renderSleep" : true,
  "safeScripts" : true,
  "scriptInstructionLimit" : 10000000,
  "scriptInstructionMeasureInterval" : 10000,
  "scriptProfilingEnabled" : false,
  "scriptRecursionLimit" : 100,
  "serverFidelity" : "automatic",
  "serverName" : "A Starbound Server",
  "serverUsers" : {
  },
  "sfxVol" : 100,
  "speechBubbles" : true,
  "title" : {
    "multiPlayerAccount" : "",
    "multiPlayerAddress" : "",
    "multiPlayerPort" : ""
  },
  "tutorialMessages" : true,
  "vsync" : true,
  "windowedResolution" : [1920, 1017],
  "zoomLevel" : 3
}