{
  // set this to wherever your starbound binary is for your platform
  "starboundPath" : "C:\\Program Files (x86)\\Steam\\SteamApps\\common\\Starbound\\win64\\starbound.exe",
  // and this as unstable
  "starboundUnstablePath" : "C:\\Program Files (x86)\\Steam\\SteamApps\\common\\Starbound - Unstable\\win64\\starbound.exe"
}
